@import url('https://fonts.googleapis.com/css2?family=Headland+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');

body{
    margin: 0;
}

#cuerpo{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/* Encabezado */

#info-inicial h1{
    font-family: "Headland One", serif;
    font-weight: 400;
    font-size: 4rem;
    color: white;
    margin: 0;
}

#info-inicial p{
    font-family: "Bigshot One", serif;
    color: whitesmoke;
    margin: 2px;
}

#encabezado{
    padding: 7rem 0 8rem 0;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-image: url(img/blackCat.gif) ;
    background-position: 12%;
    background-repeat: no-repeat;
    border-radius: 0 0 20rem 20rem;
}







