@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
/*
body {
    margin: 0;
    background-color: #9CC6DB;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


header {
    background-color: black;
    color: white;
    padding: 2rem 1rem 4rem;
    margin-bottom: 2rem;
    transition: backgound-image 10s ease;
}
h1 {
    font-size: 4rem;
    text-align: center;
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "CTRS" 0;
}



header:hover{
    background-image: url(img/Slakkj.jpeg);
    background-size: 100% 100%;
    color: transparent; 
}

h4 {
    font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

img {
    width: 400px;
    height: 400px;
    border-radius: 86% 14% 82% 18% / 19% 75% 25% 81% ;
}

section {
    transition: box-shadow 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
    transition: transform 0.4s cubic-bezier(0.11, 0.28, 0.58, 1);
    width: 400px;
    margin: 0 auto;
    background-color: #FCF6D9;
    padding: 4px 3px 4px 3px;
    border-radius: 10px;
    cursor: pointer;
}

h2{
    font-family: "Science Gothic", sans-serif;
}

section h2,
section p {
    margin: 1rem;
    padding: 0 0 0 4px;
}

section:hover {
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.375);
    transform: translate(10px, -10px);

}

video {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

.vidcat {
    width: 200px;
    height: 267px;
    margin-left: 2rem;
    display: inline-block;
    position: fixed;
    position-area: right;
}

footer {
    background-color: #CF4B00;
    margin-top: 10px;
    padding: 2rem;
    color: white;
}


#izquierda {
    float: right;
}

footer p {
    margin: 0;
}

footer a { 
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}


footer a:hover {
    color: cornflowerblue;
}

*/
